---

# deploy_with:
#  caphadm:      Pacific and newer
#  ceph-ansible: Natilus -> Reef
#  default: cephadm

servers: [
    { hostname: "ceph-nautilus", ceph_release: "nautilus", ip: "192.168.56.31", deploy_with: "ceph-ansbile" },
    { hostname: "ceph-octopus", ceph_release: "octopus", ip: "192.168.56.32", deploy_with: "ceph-ansible" },
    { hostname: "ceph-pacific", ceph_release: "pacific", ip: "192.168.56.33", deploy_with: "cephadm" },
    { hostname: "ceph-quincy", ceph_release: "quincy", ip: "192.168.56.34", deploy_with: "cephadm" },
    { hostname: "ceph-reef", ceph_release: "reef", ip: "192.168.56.35", deploy_with: "cephadm" },
]

# VM defaults:
vm_cpu: 2
vm_mem: 2048
osd_count: 3
osd_size: "5GB" # disk size >= 5GB

# Debug ceph-ansible playbooks
debug: false
